=begin
#Nutanix Virtual Machine Management APIs

#Manage the life-cycle of virtual machines hosted on Nutanix

The version of the OpenAPI document: 4.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module NutanixVmm
  class VmApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign an IP address to the provided network device
    # Assigns a specific IP address to a network device attached to a managed network.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a VM NIC of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_assign_ip_params [VmmV40AhvConfigAssignIpParams] 
    # @param [Hash] opts the optional parameters
    # @return [AssignIpById202Response]
    def assign_ip_by_id(vm_ext_id, ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_assign_ip_params, opts = {})
      data, _status_code, _headers = assign_ip_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_assign_ip_params, opts)
      data
    end

    # Assign an IP address to the provided network device
    # Assigns a specific IP address to a network device attached to a managed network.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a VM NIC of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_assign_ip_params [VmmV40AhvConfigAssignIpParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignIpById202Response, Integer, Hash)>] AssignIpById202Response data, response status code and response headers
    def assign_ip_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_assign_ip_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.assign_ip_by_id ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.assign_ip_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.assign_ip_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.assign_ip_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.assign_ip_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.assign_ip_by_id"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.assign_ip_by_id"
      end
      # verify the required parameter 'vmm_v40_ahv_config_assign_ip_params' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_assign_ip_params.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_assign_ip_params' when calling VmApi.assign_ip_by_id"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/nics/{extId}/$actions/assign-ip'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_assign_ip_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AssignIpById202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.assign_ip_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#assign_ip_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign owner of a VM
    # Assign the owner of a virtual machine.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_ownership_info [VmmV40AhvConfigOwnershipInfo] 
    # @param [Hash] opts the optional parameters
    # @return [AssignVmOwner202Response1]
    def assign_vm_owner(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_ownership_info, opts = {})
      data, _status_code, _headers = assign_vm_owner_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_ownership_info, opts)
      data
    end

    # Assign owner of a VM
    # Assign the owner of a virtual machine.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_ownership_info [VmmV40AhvConfigOwnershipInfo] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignVmOwner202Response1, Integer, Hash)>] AssignVmOwner202Response1 data, response status code and response headers
    def assign_vm_owner_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_ownership_info, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.assign_vm_owner ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.assign_vm_owner"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.assign_vm_owner, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.assign_vm_owner"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.assign_vm_owner"
      end
      # verify the required parameter 'vmm_v40_ahv_config_ownership_info' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_ownership_info.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_ownership_info' when calling VmApi.assign_vm_owner"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{extId}/$actions/assign-owner'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_ownership_info)

      # return_type
      return_type = opts[:debug_return_type] || 'AssignVmOwner202Response1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.assign_vm_owner",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#assign_vm_owner\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Associate categories to a VM
    # Associate categories to a virtual machine.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_associate_vm_categories_params [VmmV40AhvConfigAssociateVmCategoriesParams] 
    # @param [Hash] opts the optional parameters
    # @return [AssociateCategories202Response1]
    def associate_categories(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_associate_vm_categories_params, opts = {})
      data, _status_code, _headers = associate_categories_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_associate_vm_categories_params, opts)
      data
    end

    # Associate categories to a VM
    # Associate categories to a virtual machine.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_associate_vm_categories_params [VmmV40AhvConfigAssociateVmCategoriesParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssociateCategories202Response1, Integer, Hash)>] AssociateCategories202Response1 data, response status code and response headers
    def associate_categories_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_associate_vm_categories_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.associate_categories ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.associate_categories"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.associate_categories, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.associate_categories"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.associate_categories"
      end
      # verify the required parameter 'vmm_v40_ahv_config_associate_vm_categories_params' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_associate_vm_categories_params.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_associate_vm_categories_params' when calling VmApi.associate_categories"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{extId}/$actions/associate-categories'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_associate_vm_categories_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AssociateCategories202Response1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.associate_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#associate_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clone a VM
    # Clones an existing virtual machine. This operation also includes updating the existing configuration during the clone operation.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @option opts [VmmV40AhvConfigCloneOverrideParams] :vmm_v40_ahv_config_clone_override_params 
    # @return [CloneVm202Response]
    def clone_vm(ext_id, if_match, ntnx_request_id, opts = {})
      data, _status_code, _headers = clone_vm_with_http_info(ext_id, if_match, ntnx_request_id, opts)
      data
    end

    # Clone a VM
    # Clones an existing virtual machine. This operation also includes updating the existing configuration during the clone operation.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @option opts [VmmV40AhvConfigCloneOverrideParams] :vmm_v40_ahv_config_clone_override_params 
    # @return [Array<(CloneVm202Response, Integer, Hash)>] CloneVm202Response data, response status code and response headers
    def clone_vm_with_http_info(ext_id, if_match, ntnx_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.clone_vm ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.clone_vm"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.clone_vm, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.clone_vm"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.clone_vm"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{extId}/$actions/clone'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'vmm_v40_ahv_config_clone_override_params'])

      # return_type
      return_type = opts[:debug_return_type] || 'CloneVm202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.clone_vm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#clone_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a CD-ROM device for a VM
    # Creates and attaches a CD-ROM device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_cd_rom [VmmV40AhvConfigCdRom] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCdRom202Response]
    def create_cd_rom(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_cd_rom, opts = {})
      data, _status_code, _headers = create_cd_rom_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_cd_rom, opts)
      data
    end

    # Create a CD-ROM device for a VM
    # Creates and attaches a CD-ROM device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_cd_rom [VmmV40AhvConfigCdRom] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCdRom202Response, Integer, Hash)>] CreateCdRom202Response data, response status code and response headers
    def create_cd_rom_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_cd_rom, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_cd_rom ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.create_cd_rom"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.create_cd_rom, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.create_cd_rom"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_cd_rom"
      end
      # verify the required parameter 'vmm_v40_ahv_config_cd_rom' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_cd_rom.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_cd_rom' when calling VmApi.create_cd_rom"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/cd-roms'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_cd_rom)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCdRom202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_cd_rom",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_cd_rom\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a disk device for a VM
    # Creates and attaches a disk device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_disk [VmmV40AhvConfigDisk] 
    # @param [Hash] opts the optional parameters
    # @return [CreateDisk202Response]
    def create_disk(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_disk, opts = {})
      data, _status_code, _headers = create_disk_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_disk, opts)
      data
    end

    # Create a disk device for a VM
    # Creates and attaches a disk device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_disk [VmmV40AhvConfigDisk] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateDisk202Response, Integer, Hash)>] CreateDisk202Response data, response status code and response headers
    def create_disk_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_disk, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_disk ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.create_disk"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.create_disk, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.create_disk"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_disk"
      end
      # verify the required parameter 'vmm_v40_ahv_config_disk' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_disk.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_disk' when calling VmApi.create_disk"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/disks'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_disk)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateDisk202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_disk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_disk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach a GPU device to a VM
    # Attaches a GPU device to a virtual machine
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_gpu [VmmV40AhvConfigGpu] 
    # @param [Hash] opts the optional parameters
    # @return [CreateGpu202Response]
    def create_gpu(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_gpu, opts = {})
      data, _status_code, _headers = create_gpu_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_gpu, opts)
      data
    end

    # Attach a GPU device to a VM
    # Attaches a GPU device to a virtual machine
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_gpu [VmmV40AhvConfigGpu] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateGpu202Response, Integer, Hash)>] CreateGpu202Response data, response status code and response headers
    def create_gpu_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_gpu, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_gpu ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.create_gpu"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.create_gpu, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.create_gpu"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_gpu"
      end
      # verify the required parameter 'vmm_v40_ahv_config_gpu' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_gpu.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_gpu' when calling VmApi.create_gpu"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/gpus'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_gpu)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateGpu202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_gpu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_gpu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a network device for a VM
    # Creates and attaches a network device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_nic [VmmV40AhvConfigNic] 
    # @param [Hash] opts the optional parameters
    # @return [CreateNic202Response]
    def create_nic(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_nic, opts = {})
      data, _status_code, _headers = create_nic_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_nic, opts)
      data
    end

    # Create a network device for a VM
    # Creates and attaches a network device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_nic [VmmV40AhvConfigNic] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateNic202Response, Integer, Hash)>] CreateNic202Response data, response status code and response headers
    def create_nic_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_nic, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_nic ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.create_nic"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.create_nic, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.create_nic"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_nic"
      end
      # verify the required parameter 'vmm_v40_ahv_config_nic' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_nic.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_nic' when calling VmApi.create_nic"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/nics'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_nic)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateNic202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_nic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_nic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a PCIe device for a VM
    # Creates and attaches a PCIe device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_pcie_device [VmmV40AhvConfigPcieDevice] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePcieDevice202Response]
    def create_pcie_device(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_pcie_device, opts = {})
      data, _status_code, _headers = create_pcie_device_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_pcie_device, opts)
      data
    end

    # Create a PCIe device for a VM
    # Creates and attaches a PCIe device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_pcie_device [VmmV40AhvConfigPcieDevice] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePcieDevice202Response, Integer, Hash)>] CreatePcieDevice202Response data, response status code and response headers
    def create_pcie_device_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_pcie_device, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_pcie_device ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.create_pcie_device"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.create_pcie_device, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.create_pcie_device"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_pcie_device"
      end
      # verify the required parameter 'vmm_v40_ahv_config_pcie_device' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_pcie_device.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_pcie_device' when calling VmApi.create_pcie_device"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/pcie-devices'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_pcie_device)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePcieDevice202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_pcie_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_pcie_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a serial port for a VM
    # Creates and attaches a serial port device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_serial_port [VmmV40AhvConfigSerialPort] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSerialPort202Response]
    def create_serial_port(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_serial_port, opts = {})
      data, _status_code, _headers = create_serial_port_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_serial_port, opts)
      data
    end

    # Create a serial port for a VM
    # Creates and attaches a serial port device to a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_serial_port [VmmV40AhvConfigSerialPort] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSerialPort202Response, Integer, Hash)>] CreateSerialPort202Response data, response status code and response headers
    def create_serial_port_with_http_info(vm_ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_serial_port, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_serial_port ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.create_serial_port"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.create_serial_port, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.create_serial_port"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_serial_port"
      end
      # verify the required parameter 'vmm_v40_ahv_config_serial_port' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_serial_port.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_serial_port' when calling VmApi.create_serial_port"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/serial-ports'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_serial_port)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSerialPort202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_serial_port",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_serial_port\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a VM
    # Creates a Virtual Machine with the provided configuration.
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_vm [VmmV40AhvConfigVm] 
    # @param [Hash] opts the optional parameters
    # @return [CreateVm202Response]
    def create_vm(ntnx_request_id, vmm_v40_ahv_config_vm, opts = {})
      data, _status_code, _headers = create_vm_with_http_info(ntnx_request_id, vmm_v40_ahv_config_vm, opts)
      data
    end

    # Create a VM
    # Creates a Virtual Machine with the provided configuration.
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_vm [VmmV40AhvConfigVm] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateVm202Response, Integer, Hash)>] CreateVm202Response data, response status code and response headers
    def create_vm_with_http_info(ntnx_request_id, vmm_v40_ahv_config_vm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.create_vm ...'
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.create_vm"
      end
      # verify the required parameter 'vmm_v40_ahv_config_vm' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_vm.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_vm' when calling VmApi.create_vm"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_vm)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateVm202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.create_vm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#create_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Migrate a VM across clusters
    # Migrates a VM from the current cluster to a new target cluster. Supports the dry-run option, which if used results only in validation of the cross-cluster migration parameters and pre-requisites.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_vm_cross_cluster_migrate_params [VmmV40AhvConfigVmCrossClusterMigrateParams] Input on how to migrate a VM across clusters.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dryrun A URL query parameter that allows long running operations to execute in a dry-run mode providing ability to identify trouble spots and system failures without performing the actual operation. Additionally this mode also offers a summary snapshot of the resultant system in order to better understand how things fit together. The operation runs in dry-run mode only if the provided value is true. 
    # @return [CrossClusterMigrateVm202Response]
    def cross_cluster_migrate_vm(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_vm_cross_cluster_migrate_params, opts = {})
      data, _status_code, _headers = cross_cluster_migrate_vm_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_vm_cross_cluster_migrate_params, opts)
      data
    end

    # Migrate a VM across clusters
    # Migrates a VM from the current cluster to a new target cluster. Supports the dry-run option, which if used results only in validation of the cross-cluster migration parameters and pre-requisites.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_vm_cross_cluster_migrate_params [VmmV40AhvConfigVmCrossClusterMigrateParams] Input on how to migrate a VM across clusters.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dryrun A URL query parameter that allows long running operations to execute in a dry-run mode providing ability to identify trouble spots and system failures without performing the actual operation. Additionally this mode also offers a summary snapshot of the resultant system in order to better understand how things fit together. The operation runs in dry-run mode only if the provided value is true. 
    # @return [Array<(CrossClusterMigrateVm202Response, Integer, Hash)>] CrossClusterMigrateVm202Response data, response status code and response headers
    def cross_cluster_migrate_vm_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_vm_cross_cluster_migrate_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.cross_cluster_migrate_vm ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.cross_cluster_migrate_vm"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.cross_cluster_migrate_vm, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.cross_cluster_migrate_vm"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.cross_cluster_migrate_vm"
      end
      # verify the required parameter 'vmm_v40_ahv_config_vm_cross_cluster_migrate_params' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_vm_cross_cluster_migrate_params.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_vm_cross_cluster_migrate_params' when calling VmApi.cross_cluster_migrate_vm"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{extId}/$actions/migrate'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$dryrun'] = opts[:'dryrun'] if !opts[:'dryrun'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_vm_cross_cluster_migrate_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CrossClusterMigrateVm202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.cross_cluster_migrate_vm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#cross_cluster_migrate_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stage guest customization configuration details
    # Stage a Sysprep or cloud-init configuration file to be used by the guest for the next boot. Note that the Sysprep command must be used to generalize the Windows VMs before triggering this API call.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_guest_customization_params [VmmV40AhvConfigGuestCustomizationParams] 
    # @param [Hash] opts the optional parameters
    # @return [CustomizeGuestVm202Response]
    def customize_guest_vm(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_guest_customization_params, opts = {})
      data, _status_code, _headers = customize_guest_vm_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_guest_customization_params, opts)
      data
    end

    # Stage guest customization configuration details
    # Stage a Sysprep or cloud-init configuration file to be used by the guest for the next boot. Note that the Sysprep command must be used to generalize the Windows VMs before triggering this API call.
    # @param ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param vmm_v40_ahv_config_guest_customization_params [VmmV40AhvConfigGuestCustomizationParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomizeGuestVm202Response, Integer, Hash)>] CustomizeGuestVm202Response data, response status code and response headers
    def customize_guest_vm_with_http_info(ext_id, if_match, ntnx_request_id, vmm_v40_ahv_config_guest_customization_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.customize_guest_vm ...'
      end
      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.customize_guest_vm"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.customize_guest_vm, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.customize_guest_vm"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.customize_guest_vm"
      end
      # verify the required parameter 'vmm_v40_ahv_config_guest_customization_params' is set
      if @api_client.config.client_side_validation && vmm_v40_ahv_config_guest_customization_params.nil?
        fail ArgumentError, "Missing the required parameter 'vmm_v40_ahv_config_guest_customization_params' when calling VmApi.customize_guest_vm"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{extId}/$actions/customize-guest'.sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vmm_v40_ahv_config_guest_customization_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomizeGuestVm202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.customize_guest_vm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#customize_guest_vm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a CD-ROM device from a VM
    # Removes the specified CD-ROM device from a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a CD-ROM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [DeleteCdRomById202Response]
    def delete_cd_rom_by_id(vm_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      data, _status_code, _headers = delete_cd_rom_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, opts)
      data
    end

    # Remove a CD-ROM device from a VM
    # Removes the specified CD-ROM device from a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a CD-ROM of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCdRomById202Response, Integer, Hash)>] DeleteCdRomById202Response data, response status code and response headers
    def delete_cd_rom_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.delete_cd_rom_by_id ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.delete_cd_rom_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.delete_cd_rom_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.delete_cd_rom_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.delete_cd_rom_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.delete_cd_rom_by_id"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.delete_cd_rom_by_id"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/cd-roms/{extId}'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCdRomById202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.delete_cd_rom_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#delete_cd_rom_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes the specified disk device from a virtual machine.
    # Removes the specified disk device from a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a VM disk of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDiskById202Response]
    def delete_disk_by_id(vm_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      data, _status_code, _headers = delete_disk_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, opts)
      data
    end

    # Removes the specified disk device from a virtual machine.
    # Removes the specified disk device from a virtual machine.
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a VM disk of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDiskById202Response, Integer, Hash)>] DeleteDiskById202Response data, response status code and response headers
    def delete_disk_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.delete_disk_by_id ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.delete_disk_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.delete_disk_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.delete_disk_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.delete_disk_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.delete_disk_by_id"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.delete_disk_by_id"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/disks/{extId}'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = if_match
      header_params[:'NTNX-Request-Id'] = ntnx_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDiskById202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuthScheme', 'basicAuthScheme']

      new_options = opts.merge(
        :operation => :"VmApi.delete_disk_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VmApi#delete_disk_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a GPU device from a VM
    # Removes the specified GPU device from a virtual machine
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a VM GPU of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [DeleteGpuById202Response]
    def delete_gpu_by_id(vm_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      data, _status_code, _headers = delete_gpu_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, opts)
      data
    end

    # Remove a GPU device from a VM
    # Removes the specified GPU device from a virtual machine
    # @param vm_ext_id [String] A globally unique identifier of a VM of type UUID.
    # @param ext_id [String] A globally unique identifier of a VM GPU of type UUID.
    # @param if_match [String] The If-Match request header makes the request conditional. When not provided the server will respond with an HTTP 428 (Precondition Required) response code indicating that the server requires the request to be conditional. The server will allow successful completion of PUT and PATCH operations, if the resource matches the ETag value returned to the response of a GET operation. If the conditional does not match, then an HTTP 412 (Precondition Failed) response 
    # @param ntnx_request_id [String] A unique identifier that is associated with each request. The provided value must be opaque and preferably in Universal Unique Identifier (UUID) format. This identifier is also used as an idempotence token for safely retrying requests in case of network errors. All the supported Nutanix API clients add this auto-generated request identifier to each request. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteGpuById202Response, Integer, Hash)>] DeleteGpuById202Response data, response status code and response headers
    def delete_gpu_by_id_with_http_info(vm_ext_id, ext_id, if_match, ntnx_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VmApi.delete_gpu_by_id ...'
      end
      # verify the required parameter 'vm_ext_id' is set
      if @api_client.config.client_side_validation && vm_ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'vm_ext_id' when calling VmApi.delete_gpu_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && vm_ext_id !~ pattern
        fail ArgumentError, "invalid value for 'vm_ext_id' when calling VmApi.delete_gpu_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ext_id' is set
      if @api_client.config.client_side_validation && ext_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_id' when calling VmApi.delete_gpu_by_id"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$/)
      if @api_client.config.client_side_validation && ext_id !~ pattern
        fail ArgumentError, "invalid value for 'ext_id' when calling VmApi.delete_gpu_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling VmApi.delete_gpu_by_id"
      end
      # verify the required parameter 'ntnx_request_id' is set
      if @api_client.config.client_side_validation && ntnx_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'ntnx_request_id' when calling VmApi.delete_gpu_by_id"
      end
      # resource path
      local_var_path = '/vmm/v4.0/ahv/config/vms/{vmExtId}/gpus/{extId}'.sub('{' + 'vmExtId' + '}', CGI.escape(vm_ext_id.to_s)).sub('{' + 'extId' + '}', CGI.escape(ext_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
[...]
